
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper">
    <section class="recipe">
        <h1>
            About 69Tyres
        </h1>
        <div class="subtitle">
            
        </div>
        
        <p class="description">69Tyres is online store specialized in sale of tyres, wheel rims and motor oils.</p>
        <p>Our goal is to help our customers find the best product for their needs.</p>
        <p>If you are looking for the best product with the best quality, we can help you with your choice.</p>
        <p>With out vast supply of tyres(more than 69 types), we believe that every customer can find the product  of their dreams.</p>
        <p>Started in 2019, our business is constantly growing and so is our network of happy clients.</p>
        <p>Be one of them !</p>
        
    </section>
    <section class="aboutimage">
        <!-- <img src="adfjjf" alt="smoothy"> -->
    </section>
</div>

