@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="item"><i class="fad fa-tire"></i><a href="/Home/Tyres">Tyres</a></div>
    <div class="item"><a href="/Home/WheelRims">Wheel Rims</a></div>
</div>
<div class="intro">
    <img src="https://www.springmountainmotorsports.com/assets/attachments/track_IMG_5125-Edit.jpg" alt="">
</div>
