
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thank you for your order!</h1>

<h2>You can details about your order in Order History</h2>

<p class="btn btn-primary"> <a href="/Order/OrderHistory">View Order History</a></p>

