<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SNT</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/sntmain.css">
</head>
<body>
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
        <header class="site-header">
            <h1 class="site-title">
                <a href="/">69Tyres</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="/Administration/Tyres/Create">Create Tyre</a></li>
                    <li><a href="/Administration/WheelRim/Create">Create WheelRim</a></li>
                    <li><a href="/ShoppingBag/Index">ShoppingBag</a></li>
                    <li><a href="/Identity/Account/Logout">Logout</a></li>
                </ul>
            </nav>
        </header>
    }
    else if (this.User.Identity.IsAuthenticated && this.User.IsInRole("User"))
    {
        <header class="site-header">
            <h1 class="site-title">
                <a href="/">69Tyres</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Home/About">About</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Promotions</a></li>
                    <li><a href="/Identity/Account/Logout">Logout</a></li>
                </ul>
            </nav>
        </header>
    }
    else
    {
        <header class="site-header">
            <h1 class="site-title">
                <a href="/">69Tyres</a>
            </h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Home/About">About</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Promotions</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="/Identity/Account/Login">Log in</a></li>
                    <li><a href="/Identity/Account/Register">Register</a></li>

                </ul>
            </nav>
        </header>
    }
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <div>
        <footer class="site-footer">
            <p>All rights reserved &copy; 69Tyres Ltd</p>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
